<h1><%= @task.title %></h1>
<div>
  <%= link_to 'Edit', edit_task_path(@task)%>
</div>
<p><%= @task.details %></p>
<p>Completed: <%= @task.completed ? 'Yes' : 'No' %></p>
<%= link_to 'Back to list', tasks_path %>
